<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='email'>
    <%= f.email_field :email, :placeholder => "E-mail", autofocus: true, class: "big_box" %>
  </div>
  <div class='name'>
    <%= f.text_field :surname, :placeholder => "Last Name", class: "small_box" %><%= f.text_field :firstname, :placeholder => "First Name", class: "small_box"  %>
  </div>
  <div class='password'><%= f.password_field :password, :placeholder => "Password", class: "small_box", autocomplete: "off" %><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: "small_box", autocomplete: "off" %>
  </div>

  <div class='location'>
    <%= f.collection_select :location_id, Location.all, :id, :city, {},
        {:multiple => false} %>

  </div>

  <div class='languages'>

    <%= f.collection_select :language_ids, Language.all, :id, :language, {},
        {:multiple => true} %>

  </div>

  <div class='description'><%= f.text_area :description, :placeholder => "Description"  %></div>


  <div class='guide'><%= f.label :'Are you registering as a guide?' %>
      <%= f.radio_button :isguide , true %>
      <%= f.label :'Yes' %>
      <%= f.radio_button :isguide , false %>
      <%= f.label :'No' %>
  </div>

  <div class='picture'><%= f.file_field :avatar, class: "big_box" %>
  </div>

  <div><%= f.submit "Sign up" %></div>

<% end %>

<%= render "devise/shared/links" %>
